PORT=10000
NODE_ENV=development
CORS_ORIGIN=*

GROQ_IA1_API_KEY=
GROQ_IA2_API_KEY=
GROQ_IA3_API_KEY=
GROQ_IA4_API_KEY=

MISTRAL_IA5_API_KEY=
MISTRAL_IA6_API_KEY=

GROQ_IA1_MODEL=openai/gpt-oss-120b
GROQ_IA2_MODEL=openai/gpt-oss-120b
GROQ_IA3_MODEL=openai/gpt-oss-120b
GROQ_IA4_MODEL=openai/gpt-oss-120b

MISTRAL_IA5_MODEL=mistral-small-2603
MISTRAL_IA6_MODEL=mistral-small-2603
